<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Global_Computing_Solutions.Properties.Settings.GCSDevConnectionString"
            connectionString="Data Source=MASTERUSER\JUL;Initial Catalog=GCSDev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>